<div class="hero-unit">
	<h1> Welcome to One Month Rails!</h1>
	<p>This is a test page</p>
	<p>
		<%= link_to "One Month Rails","http://google.com", class: "btn btn-primary btn-large" %>
	</p>

</div>